<mat-toolbar>
  <h1>Event Management </h1>

</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav mode="side"  opened  >

    <h4 class="name"> Admin</h4>

    <mat-divider></mat-divider>

    <button mat-button class='menu-button' (click)="ShowDashBoard()" >
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button><br>
    <button mat-button class='menu-button' (click)="showUser()">
      <mat-icon>person</mat-icon>
      <span> User </span>
    </button>
    <br>
    <button mat-button class='menu-button' (click)="showTickets()">
      <mat-icon>payments</mat-icon>
      Tickets
    </button><br>
    <button mat-button class='menu-button' (click)="eventsShow()">
      <mat-icon>event</mat-icon>
      Events
    </button><br>
    <button mat-button class='menu-button' (click)="categoryShow()">
      <mat-icon>payments</mat-icon>
      TicketCategory
    </button><br>



    <button mat-button class="menu-button"  (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-sidenav>



  <mat-sidenav-content>


    <div class="content mat-elevation-z4">


      <div class=""  >
        <ag-grid-angular   style="width: 1000px; height: 500px;"
        class="ag-theme-alpine"
        [rowData]=" rowData "
        [columnDefs]="columnDefs"
        (selectionChanged)="onSelectionChanged($event)"
        [immutableData]='true'
        [getRowNodeId]="getRowNodeId"
        rowSelection="single">

        </ag-grid-angular>

        <button class="btn btn-primary" (click)="delUser()">Delete</button>  &nbsp;

      </div>
    </div>


  </mat-sidenav-content>
</mat-sidenav-container>



