

<div class="container">
  <div class="row" style="padding-top: 100px;">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form [formGroup]="adminForm" (ngSubmit)='adminLogin() ' class="form-horizontal" >

                <h1>Event Booking Admin Login</h1>
                <br>
                <h1 class="h3 mb-3 fw-normal">Please sign in</h1>


                <div class="form-group" id="">
                  <input type="email" class="form-control" id="Email" placeholder="name@example.com" formControlName="adminEmail"  >
                  <label for="floatingInput">Email address</label>
                </div>

                <div class="form-group">
                  <input type="password" class="form-control" id="Password" placeholder="Password" formControlName="adminPassword" >
                  <label for="floatingPassword">Password</label>
                </div>


                <button type="submit">login</button>

              </form>
        </div>

    </div>
</div>
