

<div class="container">
  <div class="row">
    <div class="col-3" >

    </div>
    <div class="col-3"style="margin-top: 28%"> <p style="font-size: 35px; font-weight: bold;">Add New Category</p></div>
    <div class="col-3"></div>
    <div class="col-3" style="margin-top: 10%;">
      <h1 style="font-size: 25px;">Add NEW Category</h1>
      <br>
      <p style="font-weight: bold;font-size: 20px;">Category Name<input type="text" [(ngModel)]="categoryName" > </p>
     <br>

      <button class="btn btn-primary" (click)="addCategory()"  >Add Event</button>&nbsp;&nbsp;
      <button class="btn btn-primary" (click)="cancel()">Cancel</button>

    </div>
  </div>
</div>
