<div class=" p-5 text-white bg-dark rounded-3">
  <div class="row">
    <div class="col-md-8"></div>
    <div class="col-md-4">
      <nav style="padding-left: 150px;">
        <a href="/eventList" style="font-size: 28px;color: white;text-decoration: none;">Home</a>
        <a href="" style="padding-left: 35px;font-size: 28px; color: white;text-decoration: none;">Booking</a>
        <a href="/login" (click)="logout()" style="padding-left: 35px;font-size: 28px;color: white;text-decoration: none;">LogOut</a>
      </nav>
    </div>
  </div>

  <div class="container-fluid py-5" >

    <h1 class="display-5 fw-bold" style="padding-left: 350px;"  >Name : {{eventDetail[0].Event_Name}}</h1>
    <br>
    <p class="col-md-10 fs-4" style="padding-left: 350px;" >Description: {{eventDetail[0].Description}}</p>
    <br>
    <p class="col-md-10 fs-4" style="padding-left: 350px;">Date:{{eventDetail[0].DateTime}}</p>
    <br>
    <p class="col-md-10 fs-4" style="padding-left: 350px;">Time:</p>
    <br>
    <p class="col-md-10 fs-4" style="padding-left: 350px;">Venue:{{eventDetail[0].Location}}</p>



  </div>

</div>

<br>
<br>

<div class="container" >
  <div class="row">
    <div class="col-md-3" *ngFor='let items of eventDetail'>
      <mdb-card *ngIf= 'eventDetail?.id === items.eventID'>
        <mdb-card-title>Category:{{items.CategoryName}}</mdb-card-title>
        <mdb-card-text>Price: {{items.price}}</mdb-card-text>
        <mdb-card-text>Tickets Available:{{items.TicketsAvailable}}</mdb-card-text>
        <button>Book now</button>


      </mdb-card>
    </div>
  </div>

</div>
