.bg{
background-image: url('https://png.pngtree.com/thumb_back/fh260/back_our/20190619/ourmid/pngtree-opening-event-poster-background-image_134083.jpg');
background-position: center;
background-repeat: no-repeat;
background-size: cover;height: 100%;}
