

<div class="bg"  >

  <div class="row">
    <div class="col-3">

    </div>
    <div class="col-2">

    </div>
    <div class="col-4" style="margin-top: 140px;">
        <h1>Event Booking Application</h1>
        <p>We bring you an easy way to explore and book events happeing near you.</p>
        <p>All You need to do is register as a user and book your events.</p>
        <p>You can book tickets and pay onspot or you can purchase tickets online</p>
        <button (click)="admin()" class="btn-primary">Admin</button> &nbsp; &nbsp;
        <button (click)="user()" class="btn-info">User</button>
    </div>
    <div class="col-3">

    </div>

  </div>


</div>
