<!-- <div class="container">
    <div class="row" style="padding-top: 100px;">
        <div class="col-md-8" style=" margin: auto; padding-left: 100px;">
          <h1 style="font-size: 80px;">Event Booking</h1>
        </div>

        <div class="col-md-4" >
          <form>
            <h1 class="h3 mb-3 fw-normal">Please sign up</h1>


            <div class="form-floating">
              <input type="email" class="form-control" id="Email" placeholder="name@example.com" ngModel="email"  name="email" >
              <label for="floatingInput">Email address</label>
            </div>
            <br>


            <div class="form-floating">
              <input type="password" class="form-control" id="Password" placeholder="Password">
              <label for="floatingPassword">Password</label>
            </div>
            <br>


            <div class="form-floating">
                <input type="password" class="form-control" id="Password" placeholder="Password">
                <label for="floatingPassword">Confirm Password</label>
            </div>
            <br>


            <div class="form-floating">
                <input type="text" class="form-control" id="FirstName" placeholder="">
                <label for="floatingInput">First Name</label>
            </div>
            <br>



            <div class="form-floating">
                <input type="text" class="form-control" id="LastName" placeholder="">
                <label for="floatingInput">Last Name</label>
            </div>
            <br>



            <div class="form-floating">
                <input type="number" class="form-control" id="Number" placeholder="">
                <label for="floatingInput">Phone Number</label>
            </div>
            <br>
            <a href="/login">Already a user? Sign In</a>

            <a routerLink="login">
              <button (click)="SignUp()"  class="w-100 btn btn-lg btn-primary" type="submit">Sign Up</button>
            </a>
          </form>
        </div>
    </div>
</div> -->



<div class="container">
  <div class="row">
    <div class="col-3" >

    </div>
    <div class="col-3"style="margin-top: 28%"> <p style="font-size: 40px; font-weight: bold;">Event Booking</p></div>
    <div class="col-3"></div>
    <div class="col-3" style="margin-top: 17%;">
      <h1 style="font-size: 25px;">Registration Form</h1>
      <br>
      <p style="font-weight: bold;font-size: 20px;"> First Name <input type="text" [(ngModel)]="FName" > </p>
     <br>
     <p style="font-weight: bold;font-size: 20px;" > Last Name <input type="text" [(ngModel)]="LName" > </p>
     <br>
     <p style="font-weight: bold;font-size: 20px;"> Email<br> <input type="email" [(ngModel)]="email" > </p>
     <br>
     <p style="font-weight: bold;font-size: 20px;">Password <input type="password" [(ngModel)]="password"></p>
     <br>
     <p style="font-weight: bold;font-size: 20px; ">Phone Number <input type="number" [(ngModel)]="number"></p>
      <button class="btn btn-primary" (click)="SignUp()" > Sign Up</button>

    </div>
  </div>
</div>
